# Ambiente Virtual
venv/

# Arquivos de cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de banco de dados SQLite
db.sqlite3
db.sqlite3-journal

# Arquivos de mídia enviados por usuários
# É uma boa prática não versionar os uploads de teste
/media/

# Arquivo de segredos do ambiente
.env

# Arquivos de sistema operacional
.DS_Store
Thumbs.db